<div>
    <div class="row">
        <div class="col-md-1 text-center">
            <i><img src="{{request.url_for_static('analytics.svg','analytics')}}" style="margin-top: 10px; max-height: 64px; max-width: 64px;"></i>
        </div>
        <div class="col-md-11">
            <h1 class="m-b-xs">{{ _('Analytics') }}</h1>
        </div>
    </div>
</div>
<hr>